/*
0A369D DONKERBLAUW 10, 54, 157
262322 DONKERGRIJS  38, 35, 34
EAEAEA WIT 234, 234, 234
00c6ff LICHTBLAUW 0, 198, 255

145DB2 BLAUW VANAF MENU
*/


/*---------- GENERAL ----------*/
html, body {
  background-color: #EAEAEA;
  min-height: 100vh;
}
.container {
  max-width: 100%;
  /*height: 100%;*/
}

.row.main{
  min-height:100%;
  height: 100%;
}

/*---------- NAVBAR ----------*/
.navbar.bg-dark {
  min-height: calc(100vh * 0.1);
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0A369D, #00c6ff); 
  background: linear-gradient(to right, #0A369D, #00c6ff); 
}

/*---------- MENU ----------*/
.menu-side {
  background-image: url("http://www.autoscuolarossellacicerone.com/wp-content/uploads/2018/09/Lines-dark-white-neon-HD-wallpaper.jpg");
  height: auto; 
  min-height: calc(100vh * 0.9);
  background-position: center; /
  background-repeat: no-repeat;
  background-size: cover; 
  padding-top: 30px;
}

.menu-side > .navbar {
  background-color: rgba(10, 54, 157, .5);
}

.menu-side > .navbar > .navbar-nav {
  width:100%;
}

.menu-side > .navbar > .navbar-nav > .nav-item {
  border-bottom: 2px solid #00c6ff;
  padding-left: 10px;
}

.menu-side > .navbar > .navbar-nav > .nav-item:last-child {
  border-bottom: none;
}

.dropdown-menu.show{
  background: rgba(10, 54, 157, 0.5) !important;
  margin-bottom: 1rem;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover{
  background-color: rgba(10, 54, 157, .8) !important;
}

.menu-side > .navbar > .navbar-nav > .nav-item > a, .menu-side > .navbar > .navbar-nav > .nav-item > .dropdown-menu > a {
  color: white;
  font-size: 1.1rem;
  width: 100%;
}

/*---------- CONTENT ----------*/

.content-side {
  padding-bottom: 0;
  background-color: #EAEAEA;
  height: 100%;
}
.row.content {
  padding: 30px;
}

.info-container{
  align-items: center;
  text-align: center;
  padding: 30px;
  color: #EAEAEA;
  background-color: #145DB2;
}

.info-container:first-child{
  background-color: #0A369D;
}

.info-container:last-child{
  background-color: #00c6ff;
}

.content-block{
  background-color: white;
  padding: 20px;
  border-left: 10px solid #EAEAEA;

}

/*---------- FOOTER -----------*/
.footer { 
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #145DB2, #00c6ff); 
  background: linear-gradient(to right, #145DB2, #00c6ff); 
  padding: 0;
  height: 50px;
}
